* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

p {
    margin: 0.2em 0;
}

p.small {
    font-size: 0.8em;
}

#RENDER_CANVAS {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}


.link_man {
    position: absolute;
    left: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: black;
    padding: 15px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.link_man h4 {
    padding-left: 6px;
}

.link_man span {
    display: block;
    margin: 6px;
    color: lightblue; /* Default color for unvisited links */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
}

.link_man span:hover {
    color: lightgreen; /* Change color on hover */
}

.link_man span.activeItem {
    color: lightgreen; /* Change color on hover */
}

.numParticles {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    display: none;
}

.alive-wrapper {
    position: absolute;
    top: 2em;
    width: 25em;
    left: 50%;
    margin-left: -12.5em;
    text-align: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
}

#stats {
    position: absolute;
    top: 0;
    z-index: 2;
}

body.Fog .numParticles,
body.Pool .numParticles,
body.Basic .numParticles,
body.Clouds .numParticles,
body.MouseFollow .numParticles,
body.ActiveMultiplier .numParticles,
body.MultipleEmitters .numParticles  {
    display: block;
}

body.Basic .alive-wrapper,
body.ActiveMultiplier .alive-wrapper {
    display: block;
}

